<section class="contenedor">
  <div class="panelcentro">
    <p-image src="../../assets/image/rick and morty.png"  alt="Titleimg" width="664" height="233" ></p-image>
    <div class="filtro">
      <i style="font-size: 2rem; margin-right: -50px; z-index: 10;" class="pi pi-search" [style]="{color:'#BDBDBD'}"></i>  <input class="filtro" type="text" pInputText  placeholder="Buscar personaje..." (keyup)="cambioNombre($event)"  [(ngModel)]="nombrePersonaje" /><i style="font-size: 2rem; margin-left: -50px; z-index: 10;" class="pi pi-sliders-h" [style]="{color:'#BDBDBD'}"></i>
    </div>
  </div>
</section>
