.container{
  background-image: url('../../assets/image/portal-morty-smith-rick.png');
  width: 100vw;
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30vh;
  background-color: #000000B2;
}

.panelcentro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


