

<div class="detalle" >
  <span (click)="cerrarDetalle(true)" class="close"> <i class="pi pi-times-circle"></i></span>
  <div class="cabecera">
    <div class="imagen"></div>
    <div class="vacio" ></div>
<div class="infoavatar">
  <div style="position: relative;">
    <img class="avatar" src="{{personaje.image}}"/>
    <span  class="fav"><i class="pi pi-star-fill" [ngStyle]="{'color':personaje.isFav?'#F2994A':'#828282'}" ></i></span>
  </div>


  <span class="texto">{{personaje.status | uppercase}}</span>
  <span class="titulo">{{personaje.name }}</span>
  <span class="texto">{{personaje.species | uppercase}}</span>
</div>


  </div>
  <div class="info">
<h2 class="titulo">Información</h2>
<div class="tarjetas">
  <p-card  [style]="{ width: '200px', height:'80px', padding:'10px', border:'1px solid grey' }">
    <ng-template pTemplate="header">
      <i class="pi pi-info-circle"></i>
      <span>Gender</span>
  </ng-template>
  <ng-template pTemplate="subheader" >
    {{personaje.gender}}
  </ng-template>
</p-card>
<p-card  [style]="{ width: '200px', height:'80px', padding:'10px' , border:'1px solid grey'}">
  <ng-template pTemplate="header">
    <i class="pi pi-info-circle"></i>
    <span>Origin</span>
</ng-template>
<ng-template pTemplate="subheader" >
  {{personaje.origin.name}}
</ng-template>
</p-card>
<p-card  [style]="{ width: '200px', height:'80px', padding:'10px' , border:'1px solid grey'}">
  <ng-template pTemplate="header">
    <i class="pi pi-info-circle"></i>
    <span>Type</span>
</ng-template>
<ng-template pTemplate="subheader">
  {{personaje.type}}
</ng-template>

</p-card>
</div>
  </div>

  <p-divider type="solid" [style]="{width: '700px' }"></p-divider>

  <div class="episodios">
    <h2 class="titulo">Episodios</h2>
    <div class="tarjetas">
@for(episodio of episodios ; track $index){
  <div class="tarjeta">
    <span class="texto">{{episodio.name}}</span>
    <span class="titulo">{{episodio.episode}}</span>
    <span class="texto">{{episodio.air_date}}</span>
  </div>
}
    </div>
  </div>

  <p-divider type="solid" [style]="{width: '700px' }"></p-divider>
</div>

