.lista{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 20px 150px;
}
.favoritos{
  padding-left: 330px;
   margin-top: 40px;
}
.favoritos .texto{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.mensaje{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.buttoncont{
  margin-top: 4vh;
  background-color:#11555F;
  border-radius:60px;
  Padding:11px 20px 11px 20px;
  border: none;
}
.detalle{

  position: absolute;
  top: 25vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}
.overlay{
 width: 100vw;
 height: 100vh;
}
.overlay::after{
  content:'';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000B2;
}

